.button {
  display: inline-flex;
  align-items: center;
  padding: 9px 20px;
  border-radius: 20px;
  outline: 1px solid #646464;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2a2a2a;
  text-decoration: none;

  &:hover {
    background-color: #2a2a2a;
    color: #ffffff;
    outline: 1px solid #2a2a2a;
  }

  &:focus {
    background-color: #2a2a2a;
    color: #ffffff;
    outline: 2px solid #2a2a2a;
  }

  &:active {
    background-color: #2a2a2a;
    color: #ffffff;
    outline: 1px solid #2a2a2a;
    opacity: 0.7;
  }

  &--alt {
    outline: 1px solid #efefef;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #2a2a2a;
      outline: 1px solid #efefef;
    }

    &:focus {
      background-color: #ffffff;
      color: #2a2a2a;
      outline: 1px solid #efefef;
    }
  }
}
