.footer {
  background-color: #2a2a2a;
}

.footer__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 71px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 87px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.footer__inner-wrapper {
  display: flex;
}

.footer__logo {
  margin-right: 50px;
  margin-top: -6px;
  align-self: flex-start;
}

.footer__contacts {
  margin: 0;
  margin-left: auto;
  display: flex;
  font-size: 18px;
  line-height: 24px;
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer__contacts-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__contacts-address {
  position: relative;
  font-style: normal;
  max-width: 350px;

  &::before {
    position: absolute;
    top: 3px;
    left: -10px;
    transform: translate(-100%);
    content: "";
    width: 14px;
    height: 19px;
    background-image: url("../img/sprite.svg#mapmarker");
  }
}

.footer__license {
  position: relative;

  &::before {
    position: absolute;
    top: -35px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #7b7b7b;
  }
}
