.review {
  padding: 40px 60px 40px 40px;
  background-color: #f4efed;
}

.review__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2a2a2a;
}

.review__wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(2, 25px);
  gap: 0 15px;
}

.review__avatar {
  display: block;
  grid-row: 1 / -1;
}

.review__author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.review__date {
  font-size: 14px;
  line-height: 20px;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}
