.reviews {
  background-color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

.reviews__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 50px 0 39px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin: 0;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #2a2a2a;
  text-align: center;
}

.reviews__list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.reviews__pagination-list {
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.reviews__pagination-button {
  padding: 0;
  border: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #c6c6c6;
  cursor: pointer;
}

.reviews__pagination-item--current .reviews__pagination-button {
  background-color: #1b1b1c;
}

.reviews__link {
  align-self: center;
}
