.telephone {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("../img/sprite.svg#phone");
  }
}
